<h1 class="font-medium text-2xl md:text-3xl text-blue-700">Expenses</h1>
<ul class="py-8">
  {% for expense in expenses %}

  <li class="flex gap-2 sm:gap-4 lg:gap-8 justify-between items-center px-1 lg:px-5 py-5 odd:bg-blue-100">

    <div
      class="w-20 sm:w-24 lg:w-32 shrink-0 text-center py-2 bg-gradient-to-r from-indigo-700 to-blue-600 text-white font-bold">
      {{expense.date}}
    </div>
    <div class="hidden md:block w-24 lg:w-32 shrink text-left">
      {{expense.category}}
    </div>
    <div class="text-left flex-1 font-medium">
      {{expense.title}}
    </div>
    <div class="w-12 md:w-24 text-right">
      ${{expense.amount}}
    </div>

  </li>


  {% endfor %}
</ul>