@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  @apply box-border;
}

a.active-link {
  @apply rounded-xl bg-opacity-50 bg-blue-300 hover:bg-opacity-50 transition-all;
}

div.htmx-swapping {
  opacity: 0;
  transition: opacity 300ms;
}

.spinner {
  border: 3px solid white;
  border-top: 3px solid rgba(0, 0, 0, 0.25);
  border-radius: 50%;
  width: 1.25rem;
  height: 1.25rem;
  animation: spin 1s linear infinite;
  display:none;
}

.spinner.htmx-request {
  display: inline-flex;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

/* METER STYLES */
meter{
  background: #dbeafe;
  border-radius:9999px;
  height: 20px;
}

meter::-moz-meter-bar {
  background: #60a5fa;
  border-radius:9999px;
  height: 20px;
}

::-webkit-meter-bar {
  @apply rounded-full bg-blue-100 border-0 h-5;
}

::-webkit-meter-optimum-value{
  @apply bg-blue-400 border-0;
}



