<div class="flex items-center">
  <h1 class="font-medium -translate-y-1 text-2xl md:text-4xl text-slate-700">
    Expenses
  </h1>
  <a
    href="/expenses/new"
    class="ml-auto text-white font-medium bg-blue-700 py-3 px-4 md:px-6 rounded-xl hover:bg-blue-600 transition-all"
    >Add Expense</a
  >
</div>

<div class="my-2 font-medium">
  {{ ctx.cnt }} {{ "expense" if ctx.cnt == 1 else "expenses" }} in total
<div>

<form action="/expenses" hx-trigger="keyup from:find #q delay:300ms, search from:find #q, change from:find #category" class="flex gap-2 my-4">
<input value="{{request.args.get('q') or ''}}" type="search" name="q" id="q" placeholder="Search expenses" class="w-full bg-blue-50 border border-slate-400 rounded-md py-2 px-3" />
<select class="bg-blue-50 border border-slate-400 rounded-md py-2 px-3" name="category" id="category">
  <option value="all" {% if request.args.get('category') == None or request.args.get('category') == 'all' %}selected{% endif %}>All categories</option>
  {% for category in ctx.categories %}
  <option value="{{category.name}}" {% if request.args.get('category') == category.name %}selected{% endif %}>{{category.name.capitalize()}}</option>
  {% endfor %}
</select>
</form>

<ul id="expenses-list" class="py-4">
  {% for expense in ctx.expenses %}

  {% include 'expenses/_expense_item.html' %}

  {% endfor %}
</ul>


<div id="actions" {% if page != 0 %}hx-swap-oob="true"{% endif %}>
  {% if ctx.expenses|length > 0 %}
  <button
    disabled
    id="delete-expenses-btn"
    hx-delete="/expenses?q={{request.args.get('q') or ''}}&category={{request.args.get('category') or 'all'}}"
    hx-indicator="#delete-spinner"
    hx-include="[name='selected-expense']"
    hx-target="#slot"
    class="flex gap-2 items-center text-white font-medium bg-blue-700 py-3 px-4 md:px-6 rounded-xl hover:bg-blue-600 transition-all disabled:opacity-50"
  >
    <span class="flex gap-1 items-center">Delete expenses</span><span id="delete-spinner" class="spinner"></span>
  </button>
  <button {% if not ctx.has_next_page %}disabled{% endif %} hx-get="/expenses?q={{request.args.get('q') or ''}}&category={{request.args.get('category') or 'all'}}&page={{ page + 1 }}"
    class="flex w-fit mx-auto items-center gap-1 font-medium py-2 px-4 md:px-5 rounded-xl border-2 border-blue-700 text-blue-700 hover:bg-blue-50 transition-all my-4 disabled:opacity-50" 
    id="load-more"
    hx-target="#expenses-list" 
    hx-select="ul > li, #action" 
    hx-swap="beforeend"
    hx-indicator="#load-more-spinner"
    >
    <span class="shrink-0 flex gap-1 items-center">Load More<span id="load-more-spinner" class="spinner dark"></span>
  </button>
  {% endif %}
</div>


<div id="error" class="text-center font-bold text-red-500 my-2"></div>
