<li
  class="budget-item relative flex gap-2 sm:gap-4 lg:gap-8 items-center px-1 sm:px-2 lg:px-5 py-3 even:bg-slate-100 odd:bg-slate-200"
>
  <input
    hx-on="change:updateDeleteItems(event, 'budget')"
    type="checkbox"
    name="selected-budget"
    class="ml-1 mr-0 sm:-mr-1 lg:-mr-2 w-4 h-4 shrink-0"
    aria-label="Select budget to delete"
    value="{{budget.id}}"
  />
  <div class="flex justify-between gap-6 items-center flex-1">
    <div
      class="w-24 sm:w-36 text-center py-2 bg-gradient-to-r from-slate-800 to-slate-500 text-white font-bold"
    >
      {{budget.month_name}} {{budget.year}}
    </div>

    <div class="flex gap-2 items-center ml-auto text-right font-medium">
      <span>${{ "%0.2f" | format(budget.amount | float) }}</span>

      <button
        type="button"
        class="px-1 py-1 shrink-0 bg-transparent rounded-full hover:bg-blue-200 flex items-center"
        aria-label="edit budget"
        hx-get="/budgets/edit"
        hx-vals='{"amount": {{budget.amount}}, "id": "{{budget.id}}"}'
        hx-swap="outerHTML"
        hx-target="closest div"
      >
        <img
          src="/static/icons/edit.svg"
          width="20px"
          height="20px"
          alt="edit icon"
          class="md:w-6 md:h-6"
        />
      </button>
    </div>
  </div>
</li>
